@model AsitenciaUNC_attemp_2.Models.Asistencia

@{
    ViewData["Title"] = "Eliminar Asistencia";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Eliminar Asistencia</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-secondary">
                Volver a la lista
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-danger">¿Estás seguro que deseas eliminar esta asistencia?</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.RegistroId)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RegistroId)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.HoraEntrada)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.HoraEntrada)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Registro.FechaRegistro)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Registro.FechaRegistro)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Registro.Estado)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Registro.Estado)
                        </dd>
                    </dl>
                    <form asp-action="EliminarPost">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group text-end">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


